@import './variables.scss';
@import './mixins.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

*::before,
*::after {
  content: '';
  position: absolute;
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: $hair-color;
}

.container {
  @include centerAbsolutely();
  padding: 95px 125px;
  background-color: $light-color;
  border-radius: 0.75rem;

  @media screen and (max-width: 650px) {
    padding: 50px 65px;

    .head {
      --drawing-width: 250px;
    }
  }

  @media screen and (max-width: 450px) {
    padding: 25px 35px;

    .head {
      --drawing-width: 200px;
    }
  }
}
