@import './basic-page-styling.scss';

.head {
  position: relative;
  width: $head-size;
  height: $head-size;
  background-color: $head-color;
  border-radius: 50%;

  &::before,
  &::after {
    position: absolute;
    left: 50%;
    width: $hair-width;
    background-color: $hair-color;
    z-index: -1;
  }

  &::before {
    $hair-height: $hair-width * 0.5;
    transform: translateX(-50%) translateY($hair-offset * -1);

    height: $hair-height;
    border-bottom: 0;
    border-radius: $hair-height $hair-height 0 0;
  }

  &::after {
    height: $hair-width * 0.35;
    transform: translateX(-50%);
    bottom: $hair-width * 0.15 - $hair-offset;
  }
}
