@import './basic-page-styling.scss';

.head {
  --drawing-width: 340px;

  position: relative;
  width: $head-size;
  height: $head-size;
  background-color: $head-color;
  border-radius: 50%;
  font-size: calc(var(--drawing-width, 340px) / 34);

  &::before,
  &::after {
    left: 50%;
    width: $hair-width;
    background-color: $hair-color;
    z-index: -1;
  }

  &::before {
    transform: translateX(-50%) translateY($hair-offset * -1);
    height: $hair-height-top;
    border-bottom: 0;
    border-radius: $hair-height-top $hair-height-top 0 0;
  }

  &::after {
    height: $hair-height-bottom;
    transform: translateX(-50%);
    bottom: $hair-width * 0.15 - $hair-offset;
  }
}

.mouth {
  @include centerAbsolutely(horizontal);
  bottom: $mouth-offset;
  width: $mouth-width;
  height: $mouth-height;
  background-color: $light-color;
  border-radius: $mouth-width $mouth-width 0 0;
  animation: mouthAnimation $animation-properties;
}

.hair {
  &::before,
  &::after {
    background-color: $hair-color;
    width: $side-hair-width;
    height: $side-hair-height;
    bottom: $side-hair-offset;
  }

  &::before {
    left: 0;
  }

  &::after {
    right: 0;
  }

  &--forehead {
    &::before,
    &::after {
      top: 0;
      background-color: $hair-color;
    }

    &::before {
      width: $left-forehead-hair-width;
      height: $left-forehead-hair-height;
      transform: rotate(-24deg) translateY($left-forehead-hair-offset)
        translateX($left-forehead-hair-offset * -0.5);
      border-top-left-radius: $left-forehead-hair-radius;
      border-top-right-radius: $left-forehead-hair-radius;
    }

    &::after {
      right: 0;
      width: $right-forehead-hair-width;
      height: $right-forehead-hair-height;
      transform: rotate(50deg) translateY(-0.7em) translateX(4.2em);
      border-top-right-radius: $right-forehead-hair-radius;
      border-top-left-radius: $right-forehead-hair-radius;
    }
  }
}

.glasses {
  @include centerAbsolutely(horizontal);
  bottom: $glasses-offset;
  width: $glasses-nose-rectangle-width;
  height: $glasses-border-size;
  background-color: $dark-color;
  animation: glassesAnimation $animation-properties;

  &--right,
  &--left {
    @include centerAbsolutely(vertical);
    width: $glasses-size;
    height: $glasses-size;
    border: $glasses-border-size solid $dark-color;
    border-radius: 50%;
    overflow: hidden;
  }

  &--right {
    left: calc(100% - 0.1em);
  }

  &--left {
    right: calc(100% - 0.1em);
  }
}

.eye {
  @include centerAbsolutely(vertical);
  width: $eye-size;
  height: $eye-size;
  background-color: $eye-color;
  border-radius: 50%;
  transform: translateY(0);
  animation: eyeAnimation $animation-properties;

  .glasses--left & {
    --animation-properties-multiplier: -1;
    right: $eye-offset;
  }

  .glasses--right & {
    --animation-properties-multiplier: 1;
    left: $eye-offset;
  }
}

.eyebrow {
  position: absolute;
  bottom: 100%;
  width: $glasses-size * 0.7;
  height: inherit;
  border: $eyebrow-height solid transparent;
  border-radius: 50%;
  animation: eyebrowAnimation $animation-properties;

  .glasses--left & {
    right: 0;
    border-right-color: $eyebrow-color;
    transform: translateY(5.4em) rotate(57deg);
    --animation-properties-multiplier: -1;
  }

  .glasses--right & {
    left: 0;
    border-left-color: $eyebrow-color;
    transform: translateY(5.4em) rotate(-57deg);
    --animation-properties-multiplier: 1;
  }
}

@keyframes eyeAnimation {
  40%,
  60% {
    transform: translateX(calc(1em * var(--animation-properties-multiplier))) translateY(1em);
  }
}

@keyframes eyebrowAnimation {
  40%,
  60% {
    transform: translateY(6.8em) translateX(calc(0.5em * var(--animation-properties-multiplier)))
      rotate(calc(-70deg * var(--animation-properties-multiplier)));
  }
}

@keyframes glassesAnimation {
  40%,
  60% {
    transform: translateX(-50%) translateY(1.25em);
  }
}

@keyframes mouthAnimation {
  0%,
  100% {
    border-radius: $mouth-width $mouth-width $mouth-width * 0.5 $mouth-width * 0.5;
    transform: translateX(-50%) translateY(-1em);
  }

  40%,
  60% {
    border-radius: $mouth-width $mouth-width 0 0;
    transform: translateX(-50%) translateY(0);
  }
}
