$light-color: #fff;
$dark-color: #444444;

$hair-color: #005bbb;
$head-color: #94bfdc;
$eyebrow-color: #5e9fca;
$eye-color: #1f2b7b;

$scale-factor: 2;

// Zrobić basic head size
$head-size: 150px * $scale-factor;

$hair-width: 170px * $scale-factor;
$hair-offset: ($hair-width - $head-size) * 0.5;

$side-hair-width: $head-size * 0.1;
$side-hair-height: $head-size * 0.5;
$side-hair-offset: $head-size * 0.2;

$left-forehead-hair-width: $head-size * 0.7;
$left-forehead-hair-height: $head-size * 0.3;
$left-forehead-hair-offset: $head-size * 0.03;
$left-forehead-hair-radius: $head-size * 0.22;

$right-forehead-hair-width: $head-size * 0.6;
$right-forehead-hair-height: $head-size * 0.25;
$right-forehead-hair-offset: 7px;
$right-forehead-hair-radius: $head-size * 0.22;

$mouth-width: $head-size * 0.3;
// $mouth-height: $mouth-width / 3;
// $mouth-height: $mouth-width * 0.5;
$mouth-height: $mouth-width * 0.25;
$mouth-offset: $head-size * 0.12;

$glasses-border-size: $head-size * 0.04;
$glasses-nose-rectangle-width: $head-size * 0.1;
$glasses-size: $head-size * 0.4;
$glasses-offset: $head-size * 0.44;
